// Colors
$primary: #845EC2;
$dark: #33333d;
$darker: #292930;
$light: #e9e9ec;

// Design
$radius: 4px;

// Spacers
$spacer-xxxl: 256px;
$spacer-xxl: 192px;
$spacer-xl: 128px;
$spacer-lg: 96px;
$spacer-md: 64px;
$spacer-sm: 48px;
$spacer-xs: 32px;
$spacer-xxs: 16px;
$spacer-xxxs: 8px;
